.article_post {
  .featured-image {
    figure {
      margin: 0;
    }
  }

  .byline {
    font-size: $small-font-size;
    color: $dark-gray;
  }
}

.posts-list {
  .article_post {
    @include flex-grid-row(nest);

    margin-top: 1rem;

    .featured-image {
      @include flex-grid-column(3, 0);

      @include breakpoint(medium) {
        @include flex-grid-column(2, 0);
      }
    }

    .content {
      @include flex-grid-column(9);

      @include breakpoint(medium) {
        @include flex-grid-column(10);
      }
    }
  }
}

main > .article_post {
  @include flex-grid-row();

  .featured-image {
    @include flex-grid-row(nest);

    figure {
      @include flex-grid-column(12, 0);
    }
  }
}

.st__content-block--video, .st__content-block--image {
  @include responsive-embed(widescreen);
}

.st__content-block--image {
  img {
    position: absolute;
    display: block;
    max-width: 100%;
    max-height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
