li.pagination-previous class="#{'disabled' if current_page.first?}"
  = link_to_unless current_page.first?, raw(t 'views.pagination.previous'), url, rel: 'prev', remote: remote, "aria-label" => strip_tags(raw(t('views.pagination.previous')))
