footer#site-footer
  #copyright
    ' Copyright © #{Time.current.year} #{link_to t('site.title'), root_url}.
    ' #{link_to 'CC BY 4.0', 'http://creativecommons.org/licenses/by/4.0/', rel: :license}.
    ' Some Rights Reserved.
